{% extends 'base.html' %}
{% load cart %}
{%block body%}
    <div class="container-fluid mt-3">
      <div class="row">
      <!-- filter -->
        <div class="col-lg-2 mx-auto mt-4">
          <div class="list-group">
            <a href="/" class="list-group-item
            list-group-item-action ">All</a>
            {% for category in categories %}
            <a href="/?category={{ category.id }}" class="list-group-item list-group-item-action ">{{ category.name }}</a>
            {% endfor %}
          </div>
        </div>
      <!-- products -->
        <div class="col-lg-10 mx-auto">
        <div class="row">
            {% for product in products %}
            <div class="mx-5 my-4 card"  id="{{product.id}}" style="width: 18rem;">
                <img src="{{ product.image.url }}" class="card-img-top mx-auto" style="width: 13rem; height: 20rem;" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{product.name}}</h5>
                  <p class="card-text">{{product.description}}.</p>
                  <h5 class="card-price">{{product.price}}</h5>

                  {{ product | is_in_cart:request.session.cart }}
                </div>
                <div class="card-footer row p-0">
                  {% if  product|is_in_cart:request.session.cart %}
                  <div class="row g-0">
                    <form action="/#{{product.id}}" class="col-2" method="POST">
                      {% csrf_token %}
                      <input type="text" hidden value="{{product.id}}" name="product">
                      <input type="text" hidden value="True" name="remove">
                      <input type="submit" value="-" class="btn btn-outline-dark form-control">
                    </form>
                    <div class="text-center col my-auto">{{ product|cart_quantity:request.session.cart }}</div>
                    <form action="/#{{product.id}}" class="col-2" method="POST">
                      {% csrf_token %}
                      <input type="text" hidden value="{{product.id}}" name="product">
                      <input type="submit" value="+" class="btn btn-outline-dark form-control">
                    </form>
                  </div>
                  {% else %}
                  <div class="row g-0">
                    <form action="/#{{product.id}}" method="POST">
                      {% csrf_token %}
                      <input type="text" hidden value="{{product.id}}" name="product">
                      <input type="submit" class="btn-block btn btn-outline-dark form-control" value="Add To Cart">
                    </form>
                  </div>
                  {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        </div>
      </div>
    </div>
{% endblock %} 